#navigation2duplicate{
	display: inline;
}


#main{
	height: auto;
}

#header{
	margin-top: 85px;
}

#exhibitorsreg{
	margin: 100px auto;
	width: 80%;
	border: 1px solid grey;
	padding: 0px;
}


#exhibitorsreg td{
	color: black;
	text-indent: 0;
	font-size: 14px;
	height: auto;
}

#exhibitorsreg td span{
	color: red;
}


#exhibitorsreg input, #exhibitorsreg select{
	font-family: 'Open Sans';
	border:1px solid grey;
	margin: 0 auto;
	width: 100%;
	border-radius: 0px;
	-moz-border-radius: 0px;
}

#exhibitorsreg select{
	padding: 10px;
}
